.navigation--closed {
  display: none;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  @include list-reset();

  &--footer {
    flex-direction: column;
    justify-content: space-between;
    min-width: 144px;
    min-height: 107px;
    margin: 23px 0;
  }
}

.navigation__item {
  &--header:nth-child(5) {
    display: none;
  }

  &--footer:nth-child(3) {
    display: none;
  }
}

.navigation__item a {
  color: $dark-grey;
  text-decoration: none;

  &:active {
    color: blue;
  }
}

.navigation__list--footer a {
  font-weight: 500;
}

@media (max-width: $mobile-width-only) {
  .navigation__list--header {
    flex-direction: column;
  }

  .navigation__item {
    width: 100%;
    text-align: start;
  }

  .navigation--header {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 32px $side-padding-mobile 0;
    height: 100vh;
    background-color: $light-lilac;
  }

  .navigation--header .navigation__item {
    padding: 20px 15px;
    border-top: 1px solid #c1c2ca;
    &:last-child {
      border-bottom: 1px solid #c1c2ca;
    }
  }
}

@media (min-width: $tablet-width) {
  .navigation--header {
    display: block;
    margin-left: 30px;
  }

  .navigation__list--footer {
    flex-wrap: wrap;
    margin: 29px 0 5px;
  }

  .navigation__item:not(.navigation__item--footer) {
    margin-right: 21px;
  }
  .navigation__item:not(.navigation__item--header) {
    line-height: 22.4px;
    margin-bottom: 9px;
  }

  .navigation__item a {
    @include font(14px, 16px);
  }
}

@media (min-width: $desktop-width-end) {
  .navigation--header {
    margin-right: 102px;
    margin-left: 0;
  }

  .navigation__list--footer {
    min-width: 144px;
    min-height: 107px;
    max-height: 196px;
    margin: 0;
  }

  .navigation__item:not(.navigation__item--footer) {
    margin-right: 25px;
  }

  .navigation__item a {
    @include font(16px, 19px);
  }
}
