.offer {
  width: 100%;
  padding: 34px 15px 40px;
  background-color: $light-lilac;
  @include font(18px, 25px, 500);
  height: max-content;
  margin-bottom: 23px;
}

.offer h3 {
  margin: 0;
}

.offer__content {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  margin: 0;
}

.offer__content dl {
  margin: 0;
  padding-bottom: 13px;
}

.offer__content dd {
  margin: 0;
  @include font(16px, 23px, 400);
}

.offer__button {
  width: 100%;
  padding: 18px;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .offer {
    padding: 55px 60px 60px;
    margin-bottom: 34px;
  }

  .offer__content {
    max-height: 226px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 29px;
  }

  .offer__content dl {
    width: 41%;
    padding-bottom: 28px;
  }

  .offer__content dt {
    @include font(22px, 31px, 500);
  }

  .offer__button {
    padding: 16px;
    margin-top: 6px;
  }
}

@media (min-width: $desktop-width-start) {
  .offer {
    padding: 60px 30px;
    width: 47%;
  }

  .offer__content {
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: none;
  }

  .offer__content dl {
    width: 100%;
  }
}

@media (min-width: $desktop-width-end) {
  .offer {
    padding: 57px 59px 60px;
    width: 42.7%;
    margin-top: 5px;
  }

  .offer__content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .offer__content dl {
    padding-bottom: 26px;
    width: auto;
    &:nth-child(2n + 1) {
      width: 50%;
      margin-right: 34px;
    }

    &:nth-child(2n) {
      width: 41%;
    }

    &:nth-child(3),
    &:nth-child(4) {
      padding: 0;
    }
  }
  .offer__button {
    margin-top: 35px;
  }
}
