.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  min-width: $mobile-width;
  padding: 0 $side-padding-mobile;
  margin: 0 auto;
  background-color: $light-lilac;
}
.page-header .logo {
  margin-left: 30px;
}

.page-header__toggle {
  padding: 2px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  z-index: 5;

  &--hamburger {
    position: absolute;
    top: 17px;
    left: 13px;
    width: 20px;
    height: 14px;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 16px;
      height: 1px;
      background-color: $dark-grey;
      box-shadow: 0 4.5px 0 0 $dark-grey, 0 9px 0 0 $dark-grey;
    }
  }

  &--open {
    position: absolute;
    top: 14px;
    right: 13px;
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 69px;
    padding: 0 $side-padding-tablet;
  }

  .page-header .logo {
    margin-left: 0;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width-start) {
  .page-header {
    width: 100%;
    min-height: 92px;
    padding: 0 $side-padding-desktop;
  }
}
