.request {
  width: 100%;
  padding: 21px 0;
  margin: 0 auto 3px;
}

.request h3 {
  margin: 0;
  text-align: center;
}

.request__data {
  width: 100%;
  padding: 17px 0 0;
  margin-left: -1px;
}

.request__data tr {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-bottom: 1px solid #c4c4c4;
}

.request__data th {
  padding-left: 0;
  &:first-child {
    @include font(16px, 23px, 500);
    padding-bottom: 12.5px;
  }

  &:last-child {
    @include font(18px, 25px, 500);
    order: -1;
    padding-top: 12.5px;
  }
}

.request__user {
  padding: 28px 0 0;
}

.request__input {
  text-align: left;
  padding-left: 15px;
}

.request__button {
  width: 100%;
  padding: 17px 0 18px;
  margin-top: 29px;
}

@media (min-width: $tablet-width) {
  .request {
    padding: 22px 0 34px;
    margin: 0;
  }

  .request__input {
    padding-left: 25px;
  }

  .request h2 {
    @include font(18px, 25px, 500);
  }

  .request__data {
    padding-top: 24px;
  }

  .request__data tr {
    flex-direction: row;
    justify-content: space-between;
    padding: 12.5px 0px 10.5px;
  }

  .request__data th {
    &:last-child {
      order: 1;
      @include font(22px, 31px, 500);
      padding: 0;
    }
    &:first-child {
      padding: 3px 0 0;
    }
  }

  .request__button {
    margin-top: 41px;
    padding: 17px;
  }
}

@media (min-width: $desktop-width-start) {
  .request {
    width: 770px;
    padding: 68px 69px 70px;
    background-color: $light-lilac;
    margin: 34px auto 33px;
  }

  .request h2 {
    @include font(22px, 31px, 500);
  }

  .request__data {
    padding-top: 12px;
  }

  .request__button {
    width: max-content;
    margin: 40px auto 0;
    padding: 17px 60px;
  }
}
